div {
    background-color: rgb(224, 175, 143); 
    padding: 50px;
    text-align: center;
}
body {
    background-color: rgb(215, 213, 213);
}
.row {display: flex;}
.row article {padding: 22px;}
.beagle, .bernese, .collie,.bulldog {margin: 10px;}
.row2 {display: flex;}
.row2 article {padding: 22px;}
.chihuahua, .dalmation, .doberman, .german {margin: 10px;}
.row3 {display: flex;}
.row3 article {padding: 22px;}
.retriver, .dane, .hound, .husky {margin: 10px;}
.row4 {display: flex;}
.row4 article {padding: 22px;}
.lab, .maltese, .poodle, .pug {margin: 11px;}