body {
    background-color: #ffffff;
    text
}
td, th {border: 1px solid rgb(105, 140, 231);}
p {color: #000000;}
h1,h2,h3 {color: #217ea5;}
li {color: #000000;}
td,th {color: #000;}
caption {color: #217ea5;}
a {color: #000;}
a:hover {color: #217ea5}
nav a:hover {color: #217ea5;}
nav {margin-bottom: 30px;}
label {color: #000;}
.quote {float: right;}
.ball {float: right;}
.row1 div {
    flex: 1;
    padding: 10px;
}
.row2 div {
    flex: 1;
    padding: 10px;
}
.row1,.row2 {display: flex;}
.chart {padding-top: 20px;}
@media only screen and (max-width: 100%) {
    .ball {display: none;}
}
.row2 {flex-wrap: wrap;}
@media only screen and (min-width: 768px) and (max-width: 1024) {
    nav {display: none;}
    div nav {display: 100%;}
}
@media only screen and (min-width: 320px) and (max-width: 736) {
    nav {display: 100%;}
}